tox
pyusb
-e git://github.com/amaranth-lang/amaranth.git#egg=amaranth
-e git://github.com/amaranth-lang/amaranth-soc.git#egg=amaranth-soc
-e git://github.com/hansfbaier/amaranth-boards.git#egg=nmigen_boards
-e git://github.com/hansfbaier/nmigen-library.git#egg=nmigen_library
-e git://github.com/lambdaconcept/minerva.git#egg=minerva
-e git://github.com/lambdaconcept/lambdasoc.git#egg=lambdasoc
-e git://github.com/hansfbaier/python-usb-descriptors.git#egg=usb_descriptors
-e git://github.com/greatscottgadgets/apollo.git#egg=apollo-fpga
pyvcd
pyserial~=3.4
libusb1
